"""
File, to store some multi-run parametres
`HONEYFOLDER` - root folder, to put all gathered data into.
"""
HONEYPORT = 80
HONEYFOLDER = "bots/"
HIVEHOST = '127.0.0.1'
HIVEPORT = 666
HIVELOGIN = 'CHORDCOLLISION'
HIVEPASS = 'test'
AUTHORISEDBEARS = {'CHORDCOLLISION': 'test', }
CLICKHOUSEIP = '127.0.0.1'
CLICKHOUSEPORT = '8123'
CLICKHOUSEUSER = 'default'
CLICKHOUSEPASSWORD = ''
