"""
File, to store some multi-run parametres
`HONEYFOLDER` - root folder, to put all gathered data into.
"""
HONEYPORT = 80
HONEYFOLDER = "bots"
HIVEHOST = '127.0.0.1'
HIVEPORT = 666
HIVELOGIN = 'CHORDCOLLISION'
HIVEPASS = b'4zfxHSonez6Ay3adeFBu84WQxmWfTdcRYYd-Bos3l5c='
AUTHORISEDBEARS = {'CHORDCOLLISION': b'4zfxHSonez6Ay3adeFBu84WQxmWfTdcRYYd-Bos3l5c=', }
CLICKHOUSEIP = 'http://localhost'
CLICKHOUSEPORT = '8123'
CLICKHOUSEUSER = 'default'
CLICKHOUSEPASSWORD = ''
